Package: ast-en-gb-gpl-gsm-sounds
Version: 5.0.0-1
Architecture: all
Maintainer: CoCo <admin@aelintra.com>
Installed-Size: 9731
Depends: asterisk
Section: network
Priority: extra
Description: SARK  Asterisk Integration Layer (SAIL) - A fast, lightweight switch for Asterisk
 SARK  Asterisk Integration Layer (SAIL).  Admin and backend code to configure and build Asterisk dialplans on the fly.
